.color-picker {
  width: 25rem;
  margin: 1rem;

  &__selected-color {
    height: 5rem;
    width: 100%;

    h1 {
      background: rgba(255, 255, 255, 0.5);
      max-width: 15.625rem;
    }
  }

  &__input {
    margin-top: 1rem;
    &--error {
      color: red;
      input {
        color: red;
      }
    }
  }
}
